/* Generics */

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
}

/* Header */

header {
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
  background-size: 850x;
  height: 80px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.contenitore {
  width: 1300px;
  margin: 0 auto;
}

#logo {
  width: 300px;
}

/* Main */

main {
  width: 1050px;
  margin-left: 5px;
}

/* Titolo, autore e data */

.titoli {
  font-family: 'Playfair Display', serif;;
}

h1 {
  font-size: 40px;
  max-width: 1000px;
}

.autore {
 color: #8E8E8E;
 font-weight: bold;
 font-size: 20px;
 font-style: normal;
}

.testo-colorato {
  color: #24AAE5;
  text-decoration: none;
}


.data {
  color: #8E8E8E;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}

/* Immagini e legenda */

.immagini {
  margin-top: 20px;
}

.descrizione-foto {
  font-size: 12px;
}

/* Testi */

.testo {
  margin-top: 15px;
}

.evidenziato {
  background-color: yellow;
}

.testo1{
  margin-top: 20px;
  margin-left: 15px;
}

/* Tabella */

.tabella {
  width: 1050px;
  border-collapse: collapse;
  margin-top: 15px;
}

.ultima-colonna {
  width: 50%;
}

.riga {
  background-color: #20A9E5;
  color: white;
  text-align: left;
  font-style: normal;
}

.riga1 {
  background-color: #B1E5F2 ;
}

/* Footer */

footer {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.immagine-footer {
  height: 200px;
  width: 240px;
  margin-top: 15px;

  font-size: 23px;
  font-weight: bold;
  color: white;
  padding-top: 12px;
  padding-left: 12px;
  background-position: center;
}

#immagine-monitor {
  background-image: url(../img/monitor.jpg);
}

#immagine-grafico {
  background-image: url(../img/graph.jpg);
}